app = "naijabuzz-blog"
primary_region = "ams"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  min_machines_running = 1

[[mounts]]
  source = "data"
  destination = "/data"
